/* Body styling with background color */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #ffdb88;
    margin: 0;
    padding: 0;
}

/* Default styling (Mobile-first) */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    background-color: #ffdb88;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    top: 0;
    z-index: 1000;
    font-size: 24px;
}

body > *:not(h1) {
    margin-top: 60px;
}

/* Media query for larger screens (e.g., screens wider than 768px) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 36px;
        padding: 15px 0;
    }

    body > *:not(h1) {
        margin-top: 80px;
    }
}

.article-button {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 60px 20px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .articles-grid {
        grid-template-columns: repeat(6, 1fr);
        padding-top: 80px;
    }
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-title {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    margin-top: 10px;
    font-size: 16px;
    transition: opacity 0.3s;
    opacity: 1;
    visibility: visible;
}

/* This class will be hidden initially and displayed when the image is hovered over */
.overlay-text {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #724f00;
    display: none;
    opacity: 0;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    transition: opacity 0.3s;
    visibility: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

/* When the image is hovered over, we want to apply grayscale and shrink it */
.image-wrapper:hover .article-button {
    filter: grayscale(100%);
    transform: scale(0.95);
    transition: transform 0.3s, filter 0.3s;
}

/* When the image is hovered over, hide the title and show the "Read More..." text */
.image-wrapper:hover .article-title {
    opacity: 0;
    visibility: hidden;
}

.image-wrapper:hover .overlay-text {
    display: block;
    opacity: 1;
    visibility: visible;
}
